<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

<h1>17 Objetivos de Desarrollo Sostenible para un único desafío: Salvar nuestro planeta<h1>
	<br>
	<br>
	<br>
	<br>
OBJETIVO 1: PONER FIN A LA POBREZA EN TODAS SUS FORMAS EN TODO EL MUNDO:   <br>

La pobreza va más allá de la falta de ingresos y recursos. Entre sus manifestaciones se incluyen el hambre y la malnutrición, el acceso limitado a la educación y a otros servicios básicos, la discriminación y la exclusión sociales y la falta de participación en la adopción de decisiones. El crecimiento económico debe ser inclusivo con el fin de crear empleos sostenibles y promover la igualdad.
<br>
1.1) Erradicar para todas las personas y en todo el mundo la pobreza extrema.<br>
1.2) Reducir al menos a la mitad la proporción de hombres, mujeres y niños de todas las edades que viven en la pobreza en todas sus dimensiones con arreglo a las definiciones nacionales.<br>
1.3) Implementar a nivel nacional sistemas y medidas de protección social, incluidos niveles mínimos, y lograr una amplia cobertura de las personas pobres y vulnerables.<br>
1.4) Garantizar que todos los hombres y mujeres, tengan los mismos derechos a los recursos económicos y acceso a los servicios básicos, la propiedad y el control de la tierra y otros bienes.<br>
1.5) Fomentar la resiliencia en las personas que se encuentran en situaciones de vulnerabilidad y reducir su exposición a los fenómenos extremos relacionados con el clima y otras perturbaciones.<br>
<br>
<br>

OBJETIVO 2: PONER FIN AL HAMBRE, LOGRAR LA SEGURIDAD ALIMENTARIA Y LA MEJORA DE LA NUTRICIÓN Y PROMOVER LA AGRICULTURA SOSTENIBLE
<br>
El sector alimentario y el sector agrícola ofrecen soluciones claves para el desarrollo y son vitales para la eliminación del hambre y la pobreza. A través de la agricultura y la silvicultura podemos suministrar comida nutritiva para todos y generar ingresos decentes. Argentina cuenta con suelos prósperos, bosques y biodiversidad, pero estos están siendo rápidamente degradados. El cambio climático está poniendo mayor presión sobre los recursos de los que dependemos y aumentan los riesgos asociados a desastres tales como sequías e inundaciones.
<br>
2.1) Poner fin al hambre y asegurar el acceso de todas las personas, a una alimentación sana, nutritiva y suficiente durante todo el año.<br>
2.2) Poner fin a todas las formas de malnutrición logrando, en 2025, las metas convenidas internacionalmente sobre el retraso del crecimiento y la emaciación de los niños menores de 5 años, y abordar las necesidades de nutrición de las adolescentes, las mujeres embarazadas y lactantes y las personas de edad.<br>
2.3) Duplicar la productividad agrícola y los ingresos de los productores de alimentos en pequeña escala, mediante un acceso seguro y equitativo a las tierras, insumos de producción y a los conocimientos, los servicios financieros, los mercados y obtener empleos no agrícolas.<br>
2.4) Asegurar la sostenibilidad de los sistemas de producción de alimentos y aplicar prácticas agrícolas resilientes que aumenten la productividad y la producción, contribuyan al mantenimiento de los ecosistemas, fortalezcan la capacidad de adaptación al cambio climático.<br>
2.5) Mantener la diversidad genética de las semillas, las plantas cultivadas y los animales de granja especies silvestres, mediante una buena gestión y diversificación de los bancos de semillas y plantas a nivel nacional, regional e internacional.<br>
<br>
<br>
OBJETIVO 3: GARANTIZAR UNA VIDA SANA Y PROMOVER EL BIENESTAR PARA TODOS EN TODAS LAS EDADES
<br>
Para lograr el desarrollo sostenible es fundamental garantizar una vida saludable y promover el bienestar para todos a cualquier edad. Se han obtenido grandes progresos en relación con el aumento de la esperanza de vida y la reducción de algunas de las causas de muerte más comunes relacionadas con la mortalidad infantil y materna. El acceso al agua limpia y el saneamiento llevaron a la reducción de la malaria, la tuberculosis, la poliomielitis y la propagación del VIH/SIDA. Sin embargo, se necesitan muchas más iniciativas para erradicar por completo una amplia gama de enfermedades y hacer frente a numerosas y variadas cuestiones persistentes y emergentes relativas a la salud.
<br>
3.1) Reducir la tasa mundial de mortalidad materna a menos de 70 por cada 100.000 nacidos vivos.<br>
3.2) Poner fin a las muertes evitables de recién nacidos y de niños menores de 5 años, logrando que todos los países intenten reducir la mortalidad neonatal y la mortalidad de los niños menores de 5 años.<br>
3.3) Poner fin a las epidemias del SIDA, la tuberculosis, la malaria y las enfermedades tropicales desatendidas y combatir la hepatitis, las enfermedades transmitidas por el agua y otras enfermedades transmisibles.<br>
3.4) Reducir en un tercio la mortalidad prematura por enfermedades no transmisibles mediante su prevención y tratamiento, y promover la salud mental y el bienestar.<br>
3.5) Fortalecer la prevención y el tratamiento del abuso de sustancias adictivas, incluido el uso indebido de estupefacientes y el consumo nocivo de alcohol.<br>
3.6) Reducir a la mitad el número de muertes y lesiones causadas por accidentes de tráfico en el mundo.<br>
3.7) Garantizar el acceso universal a los servicios de salud sexual y reproductiva, incluidos los de planificación familiar, información y educación, y la integración de la salud reproductiva en las estrategias y los programas nacionales.<br>
3.8) Lograr la cobertura sanitaria universal, el acceso a servicios de salud esencial de calidad, y a medicamentos y vacunas inocuos, eficaces, asequibles y de calidad para todos.<br>
3.9) Reducir considerablemente el número de muertes y enfermedades causadas por productos químicos peligrosos y por la polución y contaminación del aire, el agua y el suelo.<br>
<br>
<br>
OBJETIVO 4: GARANTIZAR UNA EDUCACIÓN INCLUSIVA, EQUITATIVA Y DE CALIDAD, Y PROMOVER OPORTUNIDADES DE APRENDIZAJE DURANTE TODA LA VIDA PARA TODOS
<br>
La consecución de una educación de calidad es la base para mejorar la vida de las personas y el desarrollo sostenible. Incrementar las tasas de escolarización en las escuelas y el nivel mínimo de alfabetización, mejorar el acceso a la educación en todos los niveles y lograr la igualdad entre niños y niñas en la educación primaria, son las metas para garantizar una educación inclusiva y de calidad.<br>

4.1) Asegurar que todas las niñas y todos los niños terminen la enseñanza primaria y secundaria, que ha de ser gratuita, equitativa y de calidad y producir resultados de aprendizaje pertinentes y efectivos.<br>
4.2) Asegurar que todas las niñas y todos los niños tengan acceso a servicios de atención y desarrollo en la primera infancia y educación preescolar, a fin de que estén preparados para la enseñanza primaria.<br>
4.3) Asegurar el acceso igualitario de todos los hombres y las mujeres a una formación técnica, profesional y superior de calidad, incluida la enseñanza universitaria.<br>
4.4) Aumentar el número de jóvenes y adultos que tienen las competencias necesarias, en particular técnicas y profesionales, para acceder al empleo, el trabajo decente y el emprendimiento.<br>
4.5) Eliminar las disparidades de género en la educación y asegurar el acceso igualitario a todos los niveles de la enseñanza y la formación profesional para las personas, incluidas las personas con discapacidad, los pueblos indígenas y los niños en situaciones de vulnerabilidad.<br>
4.6) Asegurar que todos los jóvenes y una proporción considerable de los adultos, tanto hombres como mujeres, estén alfabetizados y tengan nociones elementales de aritmética.<br>
4.7) Asegurar que todos los alumnos adquieran los conocimientos teóricos y prácticos necesarios para promover el desarrollo sostenible, mediante la educación para el desarrollo sostenible y los estilos de vida sostenibles.<br>
<br>
<br>
OBJETIVO 5: LOGRAR LA IGUALDAD DE GÉNEROS Y EMPODERAR A TODAS LAS MUJERES Y NIÑAS
<br>
La igualdad entre los géneros no es solo un derecho humano fundamental, sino la base necesaria para conseguir un mundo pacífico, próspero y sostenible. Si se facilita a las mujeres y niñas igualdad en el acceso a la educación, atención médica, un trabajo decente y representación en los procesos de adopción de decisiones políticas y económicas, se impulsarán las economías sostenibles y se beneficiará a las sociedades y a la humanidad en su conjunto.<br>

5.1) Poner fin a todas las formas de discriminación contra todas las mujeres y las niñas en todo el mundo.
5.2) Eliminar todas las formas de violencia contra todas las mujeres y las niñas en el ámbito público y privado, incluidas la trata y la explotación sexual y otros tipos de explotación.<br>
5.3) Eliminar todas las prácticas nocivas, como el matrimonio infantil, precoz y forzado y la mutilación genital femenina.<br>
5.4) Reconocer y valorar los cuidados y el trabajo doméstico no remunerados mediante servicios públicos, infraestructuras y políticas de protección social, y promoviendo la responsabilidad compartida en el hogar y la familia.<br>
5.5) Asegurar la participación plena y efectiva de las mujeres y la igualdad de oportunidades de liderazgo a todos los niveles decisorios en la vida política, económica y pública.<br>
5.6) Asegurar el acceso universal a la salud sexual y reproductiva y los derechos reproductivos según lo acordado de conformidad con el Programa de Acción de la Conferencia Internacional sobre la Población y el Desarrollo, la Plataforma de Acción de Beijing.
<br>
OBJETIVO 6: GARANTIZAR LA DISPONIBILIDAD DE AGUA Y SU GESTIÓN SOSTENIBLE Y EL SANEAMIENTO PARA TODOS
<br>
El agua libre de impurezas y accesible para todos es parte esencial del mundo en que queremos vivir. Hay suficiente agua dulce en el planeta para lograr este ideal.
La escasez de recursos hídricos, la mala calidad del agua y el saneamiento inadecuado influyen negativamente en la seguridad alimentaria y la salud. La sequía afecta a algunos de los países más pobres del mundo, recrudece el hambre y la desnutrición. Para 2050, al menos una de cada cuatro personas probablemente viva en un país afectado por escasez crónica y reiterada de agua dulce.
<br>
6.1) Lograr el acceso universal y equitativo al agua potable a un precio asequible para todos.<br>
6.2) Lograr el acceso a servicios de saneamiento e higiene adecuados y equitativos para todos, prestando especial atención a las necesidades de las mujeres y las niñas y las personas en situaciones de vulnerabilidad.<br>
6.3) Mejorar la calidad del agua reduciendo la contaminación, eliminando el vertimiento y minimizando la emisión de productos químicos, reduciendo el porcentaje de aguas residuales sin tratar y aumentando el reciclado y la reutilización sin riesgos a nivel mundial.<br>
6.4) Aumentar considerablemente el uso eficiente de los recursos hídricos en todos los sectores y asegurar la sostenibilidad de la extracción y el abastecimiento de agua dulce para hacer frente a la escasez de agua y reducir el número de personas que sufren falta de agua.<br>
6.5) Implementar la gestión integrada de los recursos hídricos a todos los niveles, incluso mediante la cooperación transfronteriza.<br>
6.6) Proteger y restablecer los ecosistemas relacionados con el agua, incluidos los bosques, las montañas, los humedales, los ríos, los acuíferos y los lagos.
<br>
OBJETIVO 7: GARANTIZAR EL ACCESO A UNA ENERGÍA ASEQUIBLE, SEGURA, SOSTENIBLE Y MODERNA PARA TODOS
<br>
El acceso a la energía para todos es esencial para casi todos los grandes desafíos con respecto a los empleos, la seguridad, el cambio climático, la producción de alimentos y el aumento de los ingresos. La energía sostenible es una oportunidad que transforma vidas, economías y el medio ambiente; puede asegurar el acceso universal a los servicios de energía modernos, mejorar el rendimiento y aumentar el uso de fuentes renovables.
<br>
7.1) Garantizar el acceso universal a servicios energéticos asequibles, fiables y modernos.
7.2) Aumentar considerablemente la proporción de energía renovable en el conjunto de fuentes energéticas.
7.3) Duplicar la tasa mundial de mejora de la eficiencia energética.
<br>
<br>
<br>
OBJETIVO 8: PROMOVER EL CRECIMIENTO ECONÓMICO SOSTENIDO, INCLUSIVO Y SOSTENIBLE; EL EMPLEO PLENO Y PRODUCTIVO Y EL TRABAJO DECENTE PARA TODOS<br>

La continua falta de oportunidades de trabajo decente, la insuficiente inversión y el bajo consumo producen una erosión del contrato social básico subyacente en las sociedades democráticas: el derecho de todos a compartir el progreso. La creación de empleos de calidad seguirá constituyendo un gran desafío para casi todas las economías más allá de 2015.<br>
Para conseguir el desarrollo económico sostenible, las sociedades deberán crear las condiciones necesarias para que las personas accedan a empleos de calidad, estimulando la economía sin dañar el medio ambiente. También tendrá que haber oportunidades laborales para toda la población en edad de trabajar, con condiciones de trabajo decentes.
<br>
8.1) Mantener el crecimiento económico per cápita de conformidad con las circunstancias nacionales y, en particular, un crecimiento del producto interno bruto de al menos el 7% anual en los países menos adelantados.<br>
8.2) Lograr niveles más elevados de productividad económica mediante la diversificación, la modernización tecnológica y la innovación, entre otras cosas centrándose en los sectores con gran valor añadido y un uso intensivo de la mano de obra.<br>
8.3) Promover políticas orientadas al desarrollo que apoyen las actividades productivas, la creación de puestos de trabajo decentes, el emprendimiento, la creatividad y la innovación, y fomentar la formalización y el crecimiento de las microempresas y las pequeñas y medianas empresas, incluso mediante el acceso a servicios financieros.<br>
8.4) Mejorar progresivamente, la producción y el consumo eficientes de los recursos mundiales y procurar desvincular el crecimiento económico de la degradación del medio ambiente, conforme al Marco Decenal de Programas sobre Modalidades de Consumo y Producción Sostenibles.<br>
8.5) Lograr el empleo pleno y productivo y el trabajo decente para todas las mujeres y los hombres, incluidos los jóvenes y las personas con discapacidad, así como la igualdad de remuneración por trabajo de igual valor.<br>
8.6) De aquí a 2020, reducir considerablemente la proporción de jóvenes que no están empleados y no cursan estudios ni reciben capacitación.<br>
8.7) Adoptar medidas inmediatas y eficaces para erradicar el trabajo forzoso, poner fin a las formas contemporáneas de esclavitud y la trata de personas y asegurar la prohibición y eliminación de las peores formas de trabajo infantil, incluidos el reclutamiento y la utilización de niños soldados, y, de aquí a 2025, poner fin al trabajo infantil en todas sus formas.<br>
8.8) Proteger los derechos laborales y promover un entorno de trabajo seguro y sin riesgos para todos los trabajadores, incluidos los trabajadores migrantes, en particular las mujeres migrantes y las personas con empleos precarios.<br>
8.9) Elaborar y poner en práctica políticas encaminadas a promover un turismo sostenible que cree puestos de trabajo y promueva la cultura y los productos locales.<br>
8.10) Fortalecer la capacidad de las instituciones financieras nacionales para fomentar y ampliar el acceso a los servicios bancarios, financieros y de seguros para todos.<br>
<br>
<br>
OBJETIVO 9: CONSTRUIR INFRAESTRUCTURAS RESILIENTES, PROMOVER LA INDUSTRIALIZACIÓN INCLUSIVA Y SOSTENIBLE Y FOMENTAR LA INNOVACIÓN
<br>
Las inversiones en infraestructura (transporte, riego, energía y tecnología de la información y las comunicaciones) son fundamentales para lograr el desarrollo sostenible y empoderar a las comunidades en numerosos países. Desde hace tiempo se reconoce que, para conseguir un incremento de la productividad, de los ingresos y mejoras en los resultados sanitarios y educativos, se necesitan inversiones en infraestructura.
El ritmo de crecimiento y urbanización también está generando la necesidad de contar con nuevas inversiones en infraestructuras sostenibles que permitirán a las ciudades ser más resistentes al cambio climático e impulsar el crecimiento económico y la estabilidad social.
<br>
9.1) Desarrollar infraestructuras fiables, sostenibles, resilientes y de calidad, incluidas infraestructuras regionales y transfronterizas, para apoyar el desarrollo económico y el bienestar humano, haciendo hincapié en el acceso equitativo para todos.<br>
9.2) Promover una industrialización inclusiva y sostenible y aumentar significativamente la contribución de la industria al empleo y al producto interno bruto, de acuerdo con las circunstancias nacionales, y duplicar esa contribución en los países menos adelantados.<br>
9.3) Aumentar el acceso de las pequeñas industrias y otras empresas, particularmente en los países en desarrollo, a los servicios financieros, incluidos créditos asequibles, y su integración en las cadenas de valor y los mercados.<br>
9.4) Modernizar la infraestructura y reconvertir las industrias para que sean sostenibles, utilizando los recursos con eficacia y promoviendo la adopción de tecnologías y procesos industriales limpios y ambientalmente racionales, y logrando que todos los países tomen medidas de acuerdo con sus capacidades respectivas.<br>
9.5) Aumentar la investigación científica y mejorar la capacidad tecnológica de los sectores industriales de todos los países, en particular los países en desarrollo, entre otras cosas fomentando la innovación y aumentando considerablemente.<br>
<br>
<br>
OBJETIVO 10: REDUCIR LA DESIGUALDAD EN Y ENTRE LOS PAÍSES
<br>
La comunidad internacional ha logrado grandes avances sacando a las personas de la pobreza. Las naciones más vulnerables los países menos adelantados, los países en desarrollo sin litoral y los pequeños Estados insulares en desarrollo continúan avanzando en el ámbito de la reducción de la pobreza. Sin embargo, siguen existiendo desigualdades y grandes disparidades en el acceso a los servicios sanitarios y educativos y a otros bienes productivos.
Dentro de los propios países Argentina uno de ellos- ha aumentado la desigualdad. Existe un consenso cada vez mayor de que el crecimiento económico no es suficiente para reducir la pobreza si este no es inclusivo ni tiene en cuenta las tres dimensiones del desarrollo sostenible: económica, social y ambiental.
<br>
10.1) Lograr progresivamente y mantener el crecimiento de los ingresos del 40% más pobre de la población a una tasa superior a la media nacional.<br>
10.2) Potenciar y promover la inclusión social, económica y política de todas las personas, independientemente de su edad, sexo, discapacidad, raza, etnia, origen, religión o situación económica u otra condición.<br>
10.3) Garantizar la igualdad de oportunidades y reducir la desigualdad de resultados, incluso eliminando las leyes, políticas y prácticas discriminatorias y promoviendo legislaciones, políticas y medidas adecuadas a ese respecto.<br>
10.4) Adoptar políticas, especialmente fiscales, salariales y de protección social, y lograr progresivamente una mayor igualdad.<br>
10.5) Mejorar la reglamentación y vigilancia de las instituciones y los mercados financieros mundiales y fortalecer la aplicación de esos reglamentos.<br>
10.6) Asegurar una mayor representación e intervención de los países en desarrollo en las decisiones adoptadas por las instituciones económicas y financieras internacionales para aumentar la eficacia, fiabilidad, rendición de cuentas y legitimidad de esas instituciones.<br>
10.7) Facilitar la migración y la movilidad ordenadas, seguras, regulares y responsables de las personas, incluso mediante la aplicación de políticas migratorias planificadas y bien gestionadas.<br>
<br>
<br>

OBJETIVO 11: LOGRAR QUE LAS CIUDADES Y LOS ASENTAMIENTOS HUMANOS SEAN INCLUSIVOS, SEGUROS, RESILIENTES Y SOSTENIBLES
<br>
Los problemas que enfrentan las ciudades se pueden vencer de manera que les permita seguir prosperando y creciendo, y al mismo tiempo aprovechar mejor los recursos y reducir la contaminación y la pobreza. El futuro que queremos incluye a ciudades de oportunidades con acceso a servicios básicos, energía, vivienda, transporte y más facilidades para todos.<br>

11.1) Asegurar el acceso de todas las personas a viviendas y servicios básicos adecuados, seguros y asequibles y mejorar los barrios marginales.<br>
11.2) Proporcionar acceso a sistemas de transporte seguros, accesibles y sostenibles para todos y mejorar la seguridad vial, mediante la ampliación del transporte público, prestando atención a las necesidades de las personas en situación de vulnerabilidad, las mujeres, los niños, las personas con discapacidad y las personas de edad.<br>
11.3) Aumentar la urbanización inclusiva y sostenible y la capacidad para la planificación y la gestión participativas, integradas y sostenibles de los asentamientos humanos en todos los países.<br>
11.4) Redoblar los esfuerzos para proteger y salvaguardar el patrimonio cultural y natural del mundo.<br>
11.5) Reducir el número de muertes causadas por los desastres, incluidos los relacionados con el agua, y de personas afectadas por ellos, y reducir las pérdidas económicas directas provocadas por los desastres en comparación con el producto interno bruto mundial, haciendo especial hincapié en la protección de las personas en situaciones de vulnerabilidad.<br>
11.6) Reducir el impacto ambiental negativo per capita de las ciudades, incluso prestando especial atención a la calidad del aire y la gestión de los desechos municipales y de otro tipo.<br>
11.7) Proporcionar acceso universal a zonas verdes y espacios públicos seguros, inclusivos y accesibles, en particular para las mujeres y los niños, las personas de edad y las personas con discapacidad.<br>

OBJETIVO 12: GARANTIZAR MODALIDADES DE CONSUMO Y PRODUCCIÓN SOSTENIBLES<br>
<br>
<br>

El objetivo del consumo y la producción sostenibles es hacer más y mejores cosas con menos recursos, incrementando las ganancias netas de bienestar de las actividades económicas mediante la reducción de la utilización de los recursos, la degradación y la contaminación durante todo el ciclo de vida, logrando al mismo tiempo una mejor calidad de vida. En ese proceso participan diversos actores como las empresas, consumidores, encargados de la formulación de políticas, investigadores, científicos, minoristas, medios de comunicación y organismos de cooperación para el desarrollo.<br>

12.1) Aplicar el Marco Decenal de Programas sobre Modalidades de Consumo y Producción Sostenibles, con la participación de todos los países y bajo el liderazgo de los países desarrollados, teniendo en cuenta el grado de desarrollo y las capacidades de los países en desarrollo.<br>
12.2) Lograr la gestión sostenible y el uso eficiente de los recursos naturales.<br>
12.3) Reducir a la mitad el desperdicio de alimentos mundial en la venta al por menor y a nivel de los consumidores y reducir las pérdidas de alimentos en las cadenas de producción y suministro, incluidas las pérdidas posteriores a la cosecha.<br>
12.4) De aquí a 2020, lograr la gestión ecológicamente racional de los productos químicos y de todos los desechos a lo largo de su ciclo de vida y reducir significativamente su liberación a la atmósfera, el agua y el suelo a fin de minimizar sus efectos adversos en la salud humana y el medio ambiente.<br>
12.5) Reducir considerablemente la generación de desechos mediante actividades de prevención, reducción, reciclado y reutilización.<br>
12.6) Alentar a las empresas, en especial las grandes empresas y las empresas transnacionales, a que adopten prácticas sostenibles e incorporen información sobre la sostenibilidad en su ciclo de presentación de informes.
12.7) Promover prácticas de adquisición pública que sean sostenibles, de conformidad con las políticas y prioridades nacionales.<br>
12.8) Asegurar que las personas de todo el mundo tengan la información y los conocimientos pertinentes para el desarrollo sostenible y los estilos de vida en armonía con la naturaleza.
<br>
<br>
<br>
OBJETIVO 13: ADOPTAR MEDIDAS URGENTES PARA COMBATIR EL CAMBIO CLIMÁTICO Y SUS EFECTOS<br>

Las personas viven en su propia piel las consecuencias del cambio climático. Estos incluyen cambios en los patrones climáticos, el aumento del nivel del mar y los fenómenos meteorológicos más extremos.<br>
Las emisiones de gases de efecto invernadero causadas por las actividades humanas hacen que esta amenaza aumente. De hecho, las emisiones nunca habían sido tan altas. Si no actuamos, la temperatura media de la superficie del mundo podría aumentar unos 3 grados centígrados este siglo y en algunas zonas del planeta podría ser todavía peor. Las personas más pobres y vulnerables serán los más perjudicados.<br>

13.1) Fortalecer la resiliencia y la capacidad de adaptación a los riesgos relacionados con el clima y los desastres naturales en todos los países.<br>
13.2) Incorporar medidas relativas al cambio climático en las políticas, estrategias y planes nacionales.<br>
13.3) Mejorar la educación, la sensibilización y la capacidad humana e institucional respecto de la mitigación del cambio climático, la adaptación a él, la reducción de sus efectos y la alerta temprana.<br>

OBJETIVO 14: CONSERVAR Y UTILIZAR EN FORMA SOSTENIBLE LOS OCÉÁNOS, LOS MARES Y LOS RECURSOS MARINOS PARA EL DESARROLLO<br>
<br>
<br>

Los océanos del mundo  su temperatura, química, corrientes y vida  mueven sistemas mundiales que hacen que la Tierra sea habitable para la humanidad.
Nuestras precipitaciones, el agua potable, el clima, el tiempo, las costas, gran parte de nuestros alimentos e incluso el oxígeno del aire que respiramos provienen del mar y son regulados por este. Históricamente, los océanos y los mares han sido cauces vitales del comercio y el transporte. La gestión prudente de este recurso mundial esencial es una característica clave del futuro sostenible.
<br>
14.1) De aquí a 2025, prevenir y reducir significativamente la contaminación marina de todo tipo, en particular la producida por actividades realizadas en tierra, incluidos los detritos marinos y la polución por nutrientes.<br>
14.2) De aquí a 2020, gestionar y proteger sosteniblemente los ecosistemas marinos y costeros para evitar efectos adversos importantes, incluso fortaleciendo su resiliencia, y adoptar medidas para restaurarlos a fin de restablecer la salud y la productividad de los océanos.<br>
14.3) Minimizar y abordar los efectos de la acidificación de los océanos, incluso mediante una mayor cooperación científica a todos los niveles.<br>
14.4) De aquí a 2020, reglamentar eficazmente la explotación pesquera y poner fin a la pesca excesiva, la pesca ilegal, no declarada y no reglamentada y las prácticas pesqueras destructivas, y aplicar planes de gestión con fundamento científico a fin de restablecer las poblaciones de peces en el plazo más breve posible.<br>
14.5) De aquí a 2020, conservar al menos el 10% de las zonas costeras y marinas, de conformidad con las leyes nacionales y el derecho internacional y sobre la base de la mejor información científica disponible.<br>
14.6) De aquí a 2020, prohibir ciertas formas de subvenciones a la pesca que contribuyen a la sobrecapacidad y la pesca excesiva, eliminar las subvenciones que contribuyen a la pesca ilegal, no declarada y no reglamentada y abstenerse de introducir nuevas subvenciones de esa índole.<br>
14.7) Aumentar los beneficios económicos que los pequeños Estados insulares en desarrollo y los países menos adelantados obtienen del uso sostenible de los recursos marinos, en particular mediante la gestión sostenible de la pesca, la acuicultura y el turismo.<br>
<br>
<br>

OBJETIVO 15: PROMOVER EL USO SOSTENIBLE DE LOS ECOSISTEMAS TERRESTRES, LUCHAR CONTRA LA DESERTIFICACIÓN, DETENER E INVERTIR LA DEGRADACIÓN DE LAS TIERRAS Y FRENAR LA PÉRDIDA DE LA DIVERSIDAD BIOLÓGICA
<br>
Los bosques, además de proporcionar seguridad alimentaria y refugio, son fundamentales para combatir el cambio climático, ya que protegen la diversidad biológica y las viviendas de la población indígena. Cada año desaparecen 13 millones de hectáreas de bosque y la degradación persistente de las zonas áridas ha provocado la desertificación de 3.600 millones de hectáreas.
La deforestación y la desertificación provocadas por las actividades humanas y el cambio climático suponen grandes retos para el desarrollo sostenible y han afectado a las vidas y los medios de vida de millones de personas en la lucha contra la pobreza.
<br>
15.1) De aquí a 2020, asegurar la conservación, el restablecimiento y el uso sostenible de los ecosistemas terrestres y los ecosistemas interiores de agua dulce y sus servicios, los bosques, los humedales, las montañas y las zonas áridas, con las obligaciones contraídas en virtud de acuerdos internacionales.<br>
15.2) De aquí a 2020, promover la puesta en práctica de la gestión sostenible de todos los tipos de bosques, detener la deforestación, recuperar los bosques degradados y aumentar considerablemente la forestación y la reforestación a nivel mundial.<br>
15.3) Luchar contra la desertificación, rehabilitar las tierras y los suelos degradados, incluidas las tierras afectadas por la desertificación, la sequía y las inundaciones, y procurar lograr un mundo con efecto neutro en la degradación del suelo.<br>
15.4) Asegurar la conservación de los ecosistemas montañosos, incluida su diversidad biológica, a fin de mejorar su capacidad de proporcionar beneficios esenciales para el desarrollo sostenible.<br>
15.5) Adoptar medidas urgentes y significativas para reducir la degradación de los hábitats naturales, detener la pérdida de biodiversidad y, de aquí a 2020, proteger las especies amenazadas y evitar su extinción.<br>
15.6) Promover la participación justa y equitativa en los beneficios derivados de la utilización de los recursos genéticos y promover el acceso adecuado a esos recursos, según lo convenido internacionalmente.<br>
15.7) Adoptar medidas urgentes para poner fin a la caza furtiva y el tráfico de especies protegidas de flora y fauna y abordar tanto la demanda como la oferta de productos ilegales de flora y fauna silvestres.<br>
15.8) De aquí a 2020, adoptar medidas para prevenir la introducción de especies exóticas invasoras y reducir significativamente sus efectos en los ecosistemas terrestres y acuáticos y controlar o erradicar las especies prioritarias.<br>
15.9) De aquí a 2020, integrar los valores de los ecosistemas y la biodiversidad en la planificación, los procesos de desarrollo, las estrategias de reducción de la pobreza y la contabilidad nacionales y locales.
<br>
<br>
<br>
OBJETIVO 16: PROMOVER SOCIEDADES PACÍFICAS E INCLUSIVAS PARA EL DESARROLLO SOSTENIBLE, FACILITAR EL ACCESO A LA JUSTICIA PARA TODOS Y CREAR INSTITUCIONES EFICACES, RESPONSABLES E INCLUSIVAS A TODOS LOS NIVELES<br>

El acceso a la justicia para todos y la construcción de instituciones responsables y eficaces a todos los niveles de la comunidad son condiciones indispensables para la promoción de sociedades pacíficas e inclusivas para el desarrollo sostenible.<br>

16.1) Reducir significativamente todas las formas de violencia y las correspondientes tasas de mortalidad en todo el mundo.<br>
16.2) Poner fin al maltrato, la explotación, la trata y todas las formas de violencia y tortura contra los niños.
16.3) Promover el estado de derecho en los planos nacional e internacional y garantizar la igualdad de acceso a la justicia para todos.<br>
16.4) Reducir significativamente las corrientes financieras y de armas ilícitas, fortalecer la recuperación y devolución de los activos robados y luchar contra todas las formas de delincuencia organizada.<br>
16.5) Reducir considerablemente la corrupción y el soborno en todas sus formas.<br>
16.6) Crear a todos los niveles instituciones eficaces y transparentes que rindan cuentas.<br>
16.7) Garantizar la adopción en todos los niveles de decisiones inclusivas, participativas y representativas que respondan a las necesidades.<br>
16.8) Ampliar y fortalecer la participación de los países en desarrollo en las instituciones de gobernanza mundial.<br>
16.9) Proporcionar acceso a una identidad jurídica para todos, en particular mediante el registro de nacimientos.<br>
16.10) Garantizar el acceso público a la información y proteger las libertades fundamentales, de conformidad con las leyes nacionales y los acuerdos internacionales.<br>

OBJETIVO 17: FORTALECER LOS MEDIOS DE EJECUCIÓN Y REVITALIZAR LA ALIANZA MUNDIAL PARA EL DESARROLLO SOSTENIBLE
<br>
<br>
<br>
Para que una agenda de desarrollo sostenible sea eficaz se necesitan alianzas entre los gobiernos, el sector privado y la sociedad civil. Estas alianzas inclusivas se construyen sobre la base de principios y valores, una visión compartida y objetivos comunes que otorgan prioridad a las personas y al planeta, y son necesarias a nivel mundial, regional, nacional y local.
Entre estos sectores figuran la. El sector público deberá establecer una orientación clara con respecto a la inversión en energía sostenible, la infraestructura y el transporte, así como las tecnologías de la información y las comunicaciones.
Deben reformularse los marcos de examen y vigilancia, los reglamentos y las estructuras de incentivos que facilitan esas inversiones a fin de atraer inversiones y fortalecer el desarrollo sostenible. También deben fortalecerse los mecanismos nacionales de vigilancia, en particular las instituciones superiores de auditoría y la función de fiscalización que corresponde al poder legislativo.
<br>
Finanzas
<br>
17.1) Fortalecer la movilización de recursos internos, incluso mediante la prestación de apoyo internacional a los países en desarrollo, con el fin de mejorar la capacidad nacional para recaudar ingresos fiscales y de otra índole.<br>
17.2) Velar por que los países desarrollados cumplan plenamente sus compromisos en relación con la asistencia oficial para el desarrollo, incluido el compromiso de numerosos países desarrollados, se alienta a los proveedores de asistencia oficial para el desarrollo a que consideren la posibilidad de fijar una meta para destinar al menos el 0,20% del ingreso nacional bruto a la asistencia oficial para el desarrollo de los países menos adelantados.<br>
17.3) Movilizar recursos financieros adicionales de múltiples fuentes para los países en desarrollo.<br>
17.4) Ayudar a los países en desarrollo a lograr la sostenibilidad de la deuda a largo plazo con políticas coordinadas orientadas a fomentar la financiación, el alivio y la reestructuración de la deuda, y hacer frente a la deuda externa de los países pobres muy endeudados a fin de reducir el endeudamiento excesivo.<br>
17.5) Adoptar y aplicar sistemas de promoción de las inversiones en favor de los países menos adelantados.
<br>
Tecnología<br>
17.6) Mejorar la cooperación regional e internacional Norte-Sur, Sur-Sur y triangular en materia de ciencia, tecnología e innovación y aumentar el intercambio de conocimientos en condiciones mutuamente convenidas, mejorando la coordinación entre los mecanismos existentes, a nivel de las Naciones Unidas, y mediante un mecanismo mundial de facilitación de la tecnología.<br>
17.7) Promover el desarrollo de tecnologías ecológicamente racionales y su transferencia, divulgación y difusión a los países en desarrollo en condiciones favorables, incluso en condiciones concesionarias y preferenciales, según lo convenido de mutuo acuerdo.<br>
17.8) Poner en pleno funcionamiento, a más tardar en 2017, el banco de tecnología y el mecanismo de apoyo a la creación de capacidad en materia de ciencia, tecnología e innovación para los países menos adelantados y aumentar la utilización de tecnologías instrumentales, en particular la tecnología de la información y las comunicaciones.
<br>
Creación de capacidad<br>
17.9) Aumentar el apoyo internacional para realizar actividades de creación de capacidades eficaces y específicas en los países en desarrollo a fin de respaldar los planes nacionales de implementación de todos los Objetivos de Desarrollo Sostenible, incluso mediante la cooperación Norte-Sur, Sur-Sur y triangular.
<br>
Comercio<br>
17.10) Promover un sistema de comercio multilateral universal, basado en normas, no discriminatorio y equitativo en el marco de la Organización Mundial del Comercio, incluso mediante la conclusión de las negociaciones en el marco del Programa de Doha para el Desarrollo.<br>

17.11) Aumentar significativamente las exportaciones de los países en desarrollo, en particular con miras a duplicar la participación de los países menos adelantados en las exportaciones mundiales de aquí a 2020.
<br>
17.12) Lograr la consecución oportuna del acceso a los mercados libre de derechos y contingentes de manera duradera para todos los países menos adelantados, conforme a las decisiones de la Organización Mundial del Comercio.
<br>
Cuestiones sistémicas
<br>
Coherencia normativa e institucional
17.13) Aumentar la estabilidad macroeconómica mundial, incluso mediante la coordinación y coherencia de las políticas.<br>
17.14) Mejorar la coherencia de las políticas para el desarrollo sostenible.<br>
17.15) Respetar el margen normativo y el liderazgo de cada país para establecer y aplicar políticas de erradicación de la pobreza y desarrollo sostenible.<br>

Alianzas entre múltiples interesados<br>
17.16) Mejorar la Alianza Mundial para el Desarrollo Sostenible, complementada por alianzas entre múltiples interesados que movilicen e intercambien conocimientos, especialización, tecnología y recursos financieros, a fin de apoyar el logro de los Objetivos de Desarrollo Sostenible en todos los países, particularmente los países en desarrollo.<br>
17.17) Fomentar y promover la constitución de alianzas eficaces en las esferas pública, público-privada y de la sociedad civil, aprovechando la experiencia y las estrategias de obtención de recursos de las alianzas.
<br>
Datos, vigilancia y rendición de cuentas<br>
17.18) De aquí a 2020, mejorar el apoyo a la creación de capacidad prestado a los países en desarrollo, incluidos los países menos adelantados y los pequeños Estados insulares en desarrollo, para aumentar significativamente la disponibilidad de datos oportunos, fiables y de gran calidad desglosados por ingresos, sexo, edad, raza, origen étnico, estatus migratorio, discapacidad, ubicación geográfica y otras características pertinentes en los contextos nacionales.<br>
17.19) Aprovechar las iniciativas existentes para elaborar indicadores que permitan medir los progresos en materia de desarrollo sostenible y complementen el producto interno bruto, y apoyar la creación de capacidad estadística en los países en desarrollo.<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



Fuente (esto es un link, ya lo configuraremos como tal): https://www.argentina.gob.ar/politicassociales/ods/institucional/17objetivos 
<br>
<br>
<br>

<br>
<br>
<br>
<br>

<a href="{% url 'primera_vista' %}">VOLVER AL INICIO</a>
<br>
<a href="{% url 'OtrosRecursos:Otros_Recursos' %}">RECURSOS EXTRA</a> 

</body>
</html>